body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.carousel {
    position: relative;
    overflow: hidden;
    max-width: 600px;
    margin: 50px auto;
}

.carousel-track {
    display: flex;
}

.carousel-item {
    flex: 0 0 auto;
    width: 100%;
    transition: transform 0.5s ease;
}

.carousel-prev,
.carousel-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #333; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    border: none;
    padding: 10px;
    cursor: pointer;
}

.carousel-prev {
    left: 10px;
}

.carousel-next {
    right: 10px;
}

.carousel-prev:hover,
.carousel-next:hover {
    background-color: #555; /* Cor de fundo ao passar o mouse */
}